
.widget-pie {
    background-color: #3eb0b9;
}

.login {
    background-image: url('../images/bg-login.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.toolbar {
    margin-bottom: 5px;
}

.toolbar .toolbar__label {
    width: calc(100% - 300px);
}

.toolbar .toolbar__nav.right {
    margin-right: -0.8rem;
    margin-left: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group.zero {
    margin-bottom: 0px;
}

.row.room_status {
    margin-left: 0px;
    margin-right: 0px;
}

.login .login-overlay {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #89f596;
}

.dropzone .dz-message span:before {
    content: '';
    font-size: 1.6rem;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: .8rem;
}

.dropzone .dz-message span {
    display: block;
    text-align: center;
}

.dropzone .dz-message img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
