
.widget-pie {
    background-color: #3eb0b9;
}

.login {
    background-image: url('../images/bg-login.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.toolbar {
    margin-bottom: 5px;
}

.toolbar .toolbar__label {
    width: calc(100% - 300px);
}

.toolbar .toolbar__nav.right {
    margin-right: -0.8rem;
    margin-left: auto;
}

.form-group {
    margin-bottom: 0rem;
}

.row.room_status {
    margin-left: 0px;
    margin-right: 0px;
}

.login .login-overlay {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
