@{
    Layout = "Layout";
}

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Settings</h1>
            </header>

            <setting-basic></setting-basic>
        </v-flex>
    </v-layout>
</v-container>
