@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Room Maintain</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Room Maintain</h2>
            </div>

            <div class="card-block">
                <setting-room></setting-room>
            </div>
        </div>
    </div>
</div>
