@{
    Layout = "Layout";
}

@section title { Room Maintain }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Room Maintain</h1>
            </header>

            <room-setting></room-setting>
        </v-flex>
    </v-layout>
</v-container>

