@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

@section title { New Guest }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>New Guest</h1>
            </header>

            <guest-create></guest-create>
        </v-flex>
    </v-layout>
</v-container>
