@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>New Guest</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <guest-create></guest-create>
    </div>
</div>
