@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

@section title { Guest Edit }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Guest Edit</h1>
            </header>

            <guest-edit id="@Model.Id"></guest-edit>
        </v-flex>
    </v-layout>
</v-container>
