@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

@section title { Change Room }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Change Room</h1>
            </header>

            <room-change checkid="@Model.Id"></room-change>
        </v-flex>
    </v-layout>
</v-container>
