@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Room Status</h1>
    <small>Check for room status</small>
</header>

<div class="row todo">
    <div class="col-md-12">
        <room-list></room-list>
    </div>
</div>
