@{
    Layout = "Layout";
}

@section title { Room Price List }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Room Price List</h1>
            </header>

            <room-calendar></room-calendar>
        </v-flex>
    </v-layout>
</v-container>
