@{
    Layout = "Layout";
}

@section title { Booking List }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Booking List</h1>
            </header>

            <booking-list></booking-list>
        </v-flex>
    </v-layout>
</v-container>
