<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net47" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net47" />
  <package id="NetDimension.NanUI" version="0.6.3239.1" targetFramework="net47" />
  <package id="NetDimension.NanUI.Cef3239" version="3.3239.1723.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="unvell.ReoGrid.dll" version="2.1.0.0" targetFramework="net47" />
</packages>