@{
    Layout = "Layout.BasicLayout";
}

@section title {
    Installation 1/4
}

<v-container fluid grid-list-md>
    <v-layout row justify-center>
        <v-flex lg6 md6 sm12 xs12>
            <h1>TeST</h1>
        </v-flex>
    </v-layout>
</v-container>
