@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Booking Room</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <booking></booking>
    </div>
</div>

@Include("Room.ModalMulti")
@section scripts {
<script>
    $(document).ready(() => {
        $('#harga-label').hide();
        $('#online-label').hide();
        $('#online-field').hide();

        $('#select-data').on('change', (evt) => {
            var val = $('#select-data').val();

            if (val > 2) {
                $('#harga-label').show();
                $('#online-label').show();
                $('#online-field').show();
            } else {
                $('#harga-label').hide();
                $('#online-label').hide();
                $('#online-field').hide();
            }
        })
    })
</script>
}
