@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Booking In Registration</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Registration Info</h2>
            </div>

            <div class="card-block">
                <form class="form-row">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Booking Type</label>
                        <div class="col-2">
                            <select class="form-control" id="select-data">
                                <option value="1">WALK-IN</option>
                                <option value="2">TELEPHONE</option>
                                <option value="3">ONLINE</option>
                            </select>
                        </div>
                        <label class="col-2 col-form-label" id="online-label">Online Type</label>
                        <div class="col-3" id="online-field">
                            <select class="form-control">
                                <option value="3">TRAVELOKA</option>
                                <option value="4">AGODA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="harga-label">
                        <label class="col-2 col-form-label" >Harga</label>
                        <div class="col-3">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <div class="form-group">
                                    <input class="form-control" value="0" type="number">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Deposit</label>
                        <div class="col-3">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <div class="form-group">
                                    <input class="form-control" value="0" type="number">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Arrival Date</label>
                        <div class="col-4">
                            <input class="form-control" value="2011-08-19" type="date">
                        </div>
                        <label class="col-2 col-form-label">Departure Date</label>
                        <div class="col-4">
                            <input class="form-control" value="2011-08-19" type="date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Jumlah Adult</label>
                        <div class="col-4">
                            <input class="form-control" value="0" type="number">
                        </div>
                        <label class="col-2 col-form-label">Jumlah Child</label>
                        <div class="col-4">
                            <input class="form-control" value="0" type="number">
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-header">
                <h2 class="card-title">Room Select</h2>
            </div>

            <div class="card-block">
                <form class="form-row">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Selected Room</label>
                        <div class="col-8">
                            <select class="form-control select2 select" multiple>
                                <option>Melati No. 204</option>
                                <option>Melati No. 201</option>
                                <option>Melati No. 205</option>
                                <option>Mawar No. 301</option>
                                <option>Mawar No. 501</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-lg btn--icon btn-primary" type="button" data-toggle="modal" data-target="#modal-default"><i class="zmdi zmdi-search"></i></button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Note</label>
                        <div class="col-6">
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-header">
                <h2 class="card-title">Guest Info</h2>
            </div>

            <div class="card-block">
                <form class="form-row">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">ID Number*</label>
                        <div class="col-6">
                            <input class="form-control" placeholder="ID Number" type="text" required>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-lg btn--icon btn-primary" type="button"><i class="zmdi zmdi-search"></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Name*</label>
                        <div class="col-8">
                            <input class="form-control" placeholder="Fullname" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Guest Type</label>
                        <div class="col-6">
                            <label class="custom-control custom-radio">
                                <input name="radio-inline" class="custom-control-input" type="radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Regular</span>
                            </label>

                            <label class="custom-control custom-radio">
                                <input name="radio-inline" class="custom-control-input" type="radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">VIP</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Birth Day</label>
                        <div class="col-4">
                            <input class="form-control" placeholder="Birth place" type="text">
                        </div>
                        <div class="col-4">
                            <input class="form-control" value="2017-12-01" type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Address</label>
                        <div class="col-6">
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">State</label>
                        <div class="col-4">
                            <select class="form-control">
                                <option>Select State</option>
                                <option>Indonesia</option>
                                <option>China</option>
                                <option>Korea Utara</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                        <label class="col-2 col-form-label">Province</label>
                        <div class="col-4">
                            <input class="form-control" placeholder="Province" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">City</label>
                        <div class="col-4">
                            <input class="form-control" placeholder="City" type="text">
                        </div>
                        <label class="col-2 col-form-label">Pos Code</label>
                        <div class="col-4">
                            <input class="form-control" placeholder="Pos Code" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Email</label>
                        <div class="col-6">
                            <input class="form-control" placeholder="Email" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Phone Number 1*</label>
                        <div class="col-4">
                            <input class="form-control" placeholder="Phone Number 1" type="text" required>
                        </div>
                        <label class="col-2 col-form-label">Phone Number 2</label>
                        <div class="col-4">
                            <input class="form-control" placeholder="Phone Number 2" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Photo Document*</label>
                        <div class="col-6">
                            <button class="btn btn-lg btn-primary btn--icon" type="button"><i class="zmdi zmdi-cloud-upload"></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Photo Guest</label>
                        <div class="col-6">
                            <button class="btn btn-lg btn-primary btn--icon" type="button"><i class="zmdi zmdi-cloud-upload"></i></button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <button type="button" class="btn btn-lg btn--icon-text error waves-effect">Cancel</button>
                        <button type="button" class="btn btn-lg btn--icon-text primary waves-effect">Booking <i class="zmdi zmdi-check-all"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Include("Room.ModalMulti")
@section scripts {
<script>
    $(document).ready(() => {
        $('#harga-label').hide();
        $('#online-label').hide();
        $('#online-field').hide();

        $('#select-data').on('change', (evt) => {
            var val = $('#select-data').val();

            if (val > 2) {
                $('#harga-label').show();
                $('#online-label').show();
                $('#online-field').show();
            } else {
                $('#harga-label').hide();
                $('#online-label').hide();
                $('#online-field').hide();
            }
        })
    })
</script>
}
