@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Check In Registration</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        @if (Model != null)
        {
            <checkin room-id="@Model.Id" room-name="@Model.RoomName"></checkin>
        } else
        {
            <checkin></checkin>
        }
    </div>
</div>

