@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Checkout Form</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Checkout Info</h2>
            </div>

            <div class="card-block">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="http://localhost.com/images/profile-pic.jpg" />
                    </div>
                    <div class="col-10">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td width="14%" class="h6">Folio Number</td>
                                    <td width="18%">FN-1217-3872</td>
                                    <td width="13%" class="h6">Registrasi Number</td>
                                    <td width="13%">RN171211003921</td>
                                    <td width="13%" class="h6">Room Rates<br />Rp.550.000</td>
                                    <td width="18%">
                                        <span class="float-left">Debit : </span>
                                        <span class="float-right">550.000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h6">Nama</td>
                                    <td>Mr. Number</td>
                                    <td class="h6">ID Number</td>
                                    <td>955852123</td>
                                    <td class="h6">Extra Charges<br />Rp.0</td>
                                    <td><span class="float-left">Kredit : </span><span class="float-right">0</span></td>
                                </tr>
                                <tr>
                                    <td class="h6">Tempat, Tanggal Lahir</td>
                                    <td>Bandung, 01 Januari 1980</td>
                                    <td class="h6">Jenis Kelamin</td>
                                    <td>Perempuan</td>
                                    <td class="h6">Laundry<br />Rp.0</td>
                                    <td><span class="float-left">Balance : </span><span class="float-right">0</span></td>
                                </tr>
                                <tr>
                                    <td class="h6">Phone Number</td>
                                    <td>0827-1217-3889</td>
                                    <td class="h6">Room Number</td>
                                    <td>Mawar No.301</td>
                                    <td class="h6">F n B<br />Rp.0</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="h6">Arrival Date</td>
                                    <td>11 Desember 2017</td>
                                    <td class="h6">Departure Date</td>
                                    <td>12 Desember 2017</td>
                                    <td colspan="2" class="h6"><span class="float-left">TOTAL TAGIHAN : </span><span class="float-right">550.000</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-header">
                <h2 class="card-title">Guest Bill</h2>
            </div>

            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="h6 bg-silver">Billed To</td>
                                    <td>Mr. Number</td>
                                    <td class="h6 bg-silver">Follio Number</td>
                                    <td>FN-1217-3872</td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">Arrival Date</td>
                                    <td>11 Desember 2017</td>
                                    <td class="h6 bg-silver">Departure Date</td>
                                    <td>12 Desember 2017</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">TANGGAL</td>
                                    <td class="h6 bg-silver">KETERANGAN</td>
                                    <td class="h6 bg-silver">DEBIT</td>
                                    <td class="h6 bg-silver">KREDIT</td>
                                </tr>
                                <tr>
                                    <td>11/12/2017</td>
                                    <td>Room : 311 (Weekday)<br /><i>Family, Rate Rp.550.000</i></td>
                                    <td>550.000</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span class="float-right">Total</span></td>
                                    <td>550.000</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span class="float-right">Balance</span></td>
                                    <td>550.000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">TOTAL TAGIHAN</td>
                                    <td colspan="3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp.</span>
                                            <div class="form-group">
                                                <input class="form-control" type="number" value="550000">
                                                <i class="form-group__bar"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">Jumlah Pembayaran</td>
                                    <td colspan="3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp.</span>
                                            <div class="form-group">
                                                <input class="form-control" type="number" value="550000">
                                                <i class="form-group__bar"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">Kembalian</td>
                                    <td colspan="3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp.</span>
                                            <div class="form-group">
                                                <input class="form-control" type="number" value="0">
                                                <i class="form-group__bar"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">Tipe Pembayaran</td>
                                    <td colspan="3">
                                        <label class="custom-control custom-radio">
                                            <input name="radio-inline" class="custom-control-input" type="radio">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Cash</span>
                                        </label>

                                        <label class="custom-control custom-radio">
                                            <input name="radio-inline" class="custom-control-input" type="radio">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Credit</span>
                                        </label>

                                        <label class="custom-control custom-radio">
                                            <input name="radio-inline" class="custom-control-input" type="radio">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Transfer</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="h6 bg-silver">Keterangan</td>
                                    <td colspan="3">
                                        <textarea class="form-control" rows="2"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <button class="btn btn-lg btn-primary">Checkout <i class="zmdi zmdi-check-all"></i></button>
            </div>
        </div>
    </div>
</div>
