@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Check In Registration</h1>
            </header>

            @if (Model != null)
            {
                if (Model.room != null)
                {
                    <checkin room-id="@Model.room.Id" room-name="@Model.room.RoomName"></checkin>
                }
                else
                {
                    <checkin book-id="@Model.booking.Id"></checkin>
                }

            }
            else
            {
            <checkin></checkin>
            }
        </v-flex>
    </v-layout>
</v-container>
