@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

@section title { Checkin Detail @Model.Id }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Checkin Detail</h1>
            </header>

            <checkin-detail checkid="@Model.Id"></checkin-detail>
        </v-flex>
    </v-layout>
</v-container>
