@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Checkin Detail</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <checkin-detail checkid="@Model.Id"></checkin-detail>
    </div>
</div>
