@{
    Layout = "Layout";
}

@section title { CheckIn List }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>CheckIn List</h1>
            </header>

            <checkin-list></checkin-list>
        </v-flex>
    </v-layout>
</v-container>
