@{
    Layout = "Layout";
}

<header class="content__title">
    <h1>Check-in List</h1>
</header>

<div class="row todo">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Check-in List</h2>
            </div>

            <div class="card-block">
                <form class="form-row">
                    <div class="form-group row">
                        <div class="col-3">
                            <select class="form-control" id="select-data">
                                <option value="3">ALL</option>
                                <option value="1">Not Late Checkout</option>
                                <option value="2">Late Checkout</option>
                            </select>
                        </div>
                        <div class="col-9" id="online-field">
                            <input type="text" class="form-control" placeholder="Search room..." />
                        </div>
                    </div>
                </form>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>ID Checkin</td>
                            <td>Room Number</td>
                            <td>Guest</td>
                            <td>Arrival Date</td>
                            <td>Departure Date</td>
                            <td>Arrive at</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CHK-19999</td>
                            <td>Big : 201</td>
                            <td>SSS Name</td>
                            <td>2017-2-2</td>
                            <td>2017-2-3</td>
                            <td>2017-2-2 14:00</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-success">Edit</button>
                                    <button class="btn btn-warning">Change Room</button>
                                    <button class="btn btn-danger">Check Out</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CHK-42155</td>
                            <td>Big : 202</td>
                            <td>SSS Name</td>
                            <td>2017-2-2</td>
                            <td>2017-2-3</td>
                            <td>2017-2-2 14:00</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-success">Edit</button>
                                    <button class="btn btn-warning">Change Room</button>
                                    <button class="btn btn-danger">Check Out</button>
                                </div>
                            </td>
                        </tr>
                        <tr class="orange lighten-4">
                            <td>CHK-12511</td>
                            <td>Big : 203</td>
                            <td>SSS Name</td>
                            <td>2017-2-2</td>
                            <td>2017-2-3</td>
                            <td>2017-2-2 14:00</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-success">Edit</button>
                                    <button class="btn btn-warning">Change Room</button>
                                    <button class="btn btn-danger">Check Out</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="paginate_button previous" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link paginate_button current" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="paginate_button next" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
