.bwizard-steps .active a {
  color: #fff;
  cursor: default;
}

.bwizard-steps {
  margin: 0;
  padding: 0;
  display: inline-block;
  background: #fff;
}

.bwizard-activated {
  padding: 20px;
}

.bwizard-steps a {
  color: #333;
}

.bwizard-steps.clickable li:not(.active) {
  cursor: pointer;
}

.bwizard-steps.clickable li:focus:not(.active) a,
.bwizard-steps.clickable li:hover:not(.active) a,
.parsley-error,
.parsley-success {
  color: #333 !important;
}

.widget.selectable,
table.table tr.selectable td {
  cursor: pointer;
}

table.table tr.selectable:hover td {
  background-color: #bef1f1;
}

.form-control-color {
  cursor: pointer;
}
.column-flex {
  display: block;
  float: left;
}
.column-flex > .row-flex {
  width: 24px;
  height: 24px;
}

.column-flex > .row-flex.btn {
  width: 40px;
  height: 40px;
}

.column-flex > .row-flex:hover,
.column-flex > .row-flex.selected {
  border: 3px solid black;
}

.column-flex > .row-flex.btn.selected {
  background-color: #666;
}
