.bwizard-steps .active a {
  color: #fff;
  cursor: default;
}

.bwizard-steps {
  margin: 0;
  padding: 0;
  display: inline-block;
  background: #fff;
}

.bwizard-activated {
  padding: 20px;
}

.bwizard-steps a {
  color: #333;
}

.bwizard-steps.clickable li:not(.active) {
  cursor: pointer;
}

.bwizard-steps.clickable li:focus:not(.active) a,
.bwizard-steps.clickable li:hover:not(.active) a,
.parsley-error,
.parsley-success {
  color: #333 !important;
}

.widget.selectable,
table.table tr.selectable td {
  cursor: pointer;
}

table.table tr.selectable:hover td {
  background-color: #bef1f1;
}

.form-control-color {
  cursor: pointer;
}

.column-flex {
  display: block;
  float: left;
}

.column-flex>.row-flex {
  width: 24px;
  height: 24px;
}

.column-flex>.row-flex.btn {
  width: 40px;
  height: 40px;
}

.column-flex>.row-flex:hover,
.column-flex>.row-flex.selected {
  border: 3px solid black;
}

.column-flex>.row-flex.btn.selected {
  background-color: #666;
}

.bootstrap-timepicker {
  position: relative
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px
}

.bootstrap-timepicker .add-on {
  cursor: pointer
}

.bootstrap-timepicker .add-on i {
  display: inline-block;
  width: 16px;
  height: 16px
}

.bootstrap-timepicker-widget.dropdown-menu {
  padding: 2px 3px 2px 2px
}

.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block
}

.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px
}

.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px
}

.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 4px
}

.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0
}

.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px
}

.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px
}

.bootstrap-timepicker-widget table td span {
  width: 100%
}

.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333
}

.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd
}

.bootstrap-timepicker-widget table td a i {
  margin-top: 2px
}

.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center
}

.bootstrap-timepicker-widget .modal-content {
  padding: 4px
}

@media(min-width:767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px
  }
}

@media(max-width:767px) {
  .bootstrap-timepicker {
    width: 100%
  }

  .bootstrap-timepicker .dropdown-menu {
    width: 100%
  }
}

.bootstrap-timepicker .backdrop {
  background-color: transparent;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gritter-item-wrapper.gritter-success .gritter-top,
.gritter-item-wrapper.gritter-success .gritter-bottom,
.gritter-item-wrapper.gritter-success .gritter-item {
  background: rgba(51, 105, 30, 0.8);
}

.gritter-item-wrapper.gritter-warning .gritter-top,
.gritter-item-wrapper.gritter-warning .gritter-bottom,
.gritter-item-wrapper.gritter-warning .gritter-item {
  background: rgba(245, 127, 23, 0.8);
}

.gritter-item-wrapper.gritter-error .gritter-top,
.gritter-item-wrapper.gritter-error .gritter-bottom,
.gritter-item-wrapper.gritter-error .gritter-item {
  background: rgba(70, 6, 6, 0.8);
}

.gritter-light.gritter-error .gritter-top,
.gritter-light.gritter-error .gritter-bottom,
.gritter-light.gritter-error .gritter-item {
  background: rgb(255, 205, 210);
}

.gritter-item-wrapper.gritter-info .gritter-top,
.gritter-item-wrapper.gritter-info .gritter-bottom,
.gritter-item-wrapper.gritter-info .gritter-item {
  background: rgba(13, 71, 161, 0.8);
}

.gritter-bottom, .gritter-item, .gritter-top {
  background: rgba(0, 0, 0, 0.8);
}
