<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UIHotel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="UIHotel.Properties.Settings.MyDB" connectionString="server={0};user id={1};password={2};persistsecurityinfo=True;port={3};database={4}" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <userSettings>
    <UIHotel.Properties.Settings>
      <setting name="SQL_Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="SQL_User" serializeAs="String">
        <value>mes</value>
      </setting>
      <setting name="SQL_Password" serializeAs="String">
        <value>qweqwe</value>
      </setting>
      <setting name="SQL_Port" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="SQL_Database" serializeAs="String">
        <value>hotel</value>
      </setting>
    </UIHotel.Properties.Settings>
  </userSettings>
</configuration>
