<form class="search">
    <div class="search__inner">
        <input type="text" class="search__text" placeholder="Search for room, guest...">
        <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
    </div>
</form>