<div class="user">
    <div class="user__info" data-toggle="dropdown">
        <img class="user__img" src="http://localhost.com/images/profile-pic.jpg" alt="">
        <div>
            <div class="user__name">Malinda Hollaway</div>
            <div class="user__email">Administrator</div>
        </div>
    </div>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="">View Profile</a>
        <a class="dropdown-item" href="">Settings</a>
        <a class="dropdown-item" href="">Logout</a>
    </div>
</div>