@{
    Layout = "Layout";
}

@section title { Report Checkin & Booking }

<v-container fluid grid-list-md>
    <v-layout row>
        <v-flex lg12 md12 sm12 xs12>
            <header class="content__title">
                <h1>Report Checkin & Booking</h1>
            </header>

            <report-checkin></report-checkin>
        </v-flex>
    </v-layout>
</v-container>
