@{
    Layout = "Layout";
}

@section title { Dashboard }

<v-container fluid grid-list-md>
    <header class="content__title">
        <h1>Dashboard</h1>
    </header>

    <dashboard></dashboard>

    <v-layout row>
        <v-flex md12>
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Main Menu</h2>
                    <small class="card-subtitle"></small>
                </div>

                <div class="card-block pb-4">
                    <div class="card widget-pie">
                        <v-layout row>
                            <v-flex lg4 md3 sm4 class="widget-pie__item">
                                <a href="http://localhost.com/checkin/get/index">
                                    <div class="widget-pie__title"><i class="zmdi zmdi-hc-4x zmdi-swap-vertical"></i></div>
                                    <div class="widget-pie__title">Check In</div>
                                </a>
                            </v-flex>

                            <v-flex lg4 md3 sm4 class="widget-pie__item">
                                <a href="http://localhost.com/checkin/get/booking">
                                    <div class="widget-pie__title"><i class="zmdi zmdi-hc-4x zmdi-bookmark"></i></div>
                                    <div class="widget-pie__title">Booking</div>
                                </a>
                            </v-flex>

                            <v-flex lg4 md3 sm4 class="widget-pie__item">
                                <a href="http://localhost.com/checkin/get/checkout">
                                    <div class="widget-pie__title"><i class="zmdi zmdi-hc-4x zmdi-account"></i></div>
                                    <div class="widget-pie__title">Tamu</div>
                                </a>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-flex lg4 md3 sm4 class="widget-pie__item">
                                <a href="http://localhost.com/money/get/transaksi">
                                    <div class="widget-pie__title"><i class="zmdi zmdi-hc-4x zmdi-money"></i></div>
                                    <div class="widget-pie__title">Transaksi</div>
                                </a>
                            </v-flex>

                            <v-flex lg4 md3 sm4 class="widget-pie__item">
                                <a>
                                    <div class="widget-pie__title"><i class="zmdi zmdi-hc-4x zmdi-trending-up"></i></div>
                                    <div class="widget-pie__title">Laporan</div>
                                </a>
                            </v-flex>

                            <v-flex lg4 md3 sm4 class="widget-pie__item">
                                <a href="http://localhost.com/room/get/index">
                                    <div class="widget-pie__title"><i class="zmdi zmdi-hc-4x zmdi-widgets"></i></div>
                                    <div class="widget-pie__title">Room</div>
                                </a>
                            </v-flex>
                        </v-layout>
                    </div>
                </div>
            </div>
        </v-flex>
    </v-layout>
</v-container>
