<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    @Include("Layout.Parts.BaseCSS")
</head>
<body data-ma-theme="blue-grey">
    <div class="login" id="app">
        <div class="login-overlay"></div>

        <!-- Login -->
        <login></login>
    </div>

    @Include("Layout.Parts.BaseJS")
</body>
</html>