@using RazorEngine
@inherits UIHotel.App.View.Template.HtmlTemplateBase<dynamic>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="http://localhost.com/css/Material-Icons.css" rel="stylesheet" />
    <link href="http://localhost.com/css/app.css" rel="stylesheet" />
</head>
<body>
    Nama : @Model.Nama <br />
    Nama : @ViewBag.Name
    <div id="app">
        <app></app>
        
    </div>

    <script src="http://localhost.com/js/manifest.js"></script>
    <script src="http://localhost.com/js/app.js"></script>
</body>
</html>